# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Nathan Mendoza
	email = 74679703+nathancmendoza@users.noreply.github.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
